:root {
  --color-background: #e6e6e6;
  --color-heading: #3f434a;
  --color-body-light: #8a9099;
  --color-body-dark: #595f69;
  --color-grey: #c6c9cc;
  --color-border: #e8e9eb;
  --color-bg: #f8f8f8;
  --color-bg-light: #f1f1f1;
  --color-primary: #304ffd;
  --color-primary-light: #eaedff;
  --color-primary-dark: #0026ff;
  --color-orange: #ff965d;
  --color-danger: #fd7972;
  --color-danger-dark: #f05c54;
  --color-warning: #ffd240;
  --color-dark-blue: #009eb3;
  --color-purple: #b656eb;
  --color-pink: #f9ddc5;
}
