:root {
  --container-padding-y: 0.7rem;
  --container-padding-x: 1.2rem;
}

.app {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.app.collapsed {
  grid-template-columns: auto 1fr;
}

.app .container {
  padding: var(--container-padding-y) var(--container-padding-x);
}

@media (min-width: 1200px) {
  .app {
    grid-template-columns: 320px 1fr;
  }
}

@media (max-width: 992px) {
  .app {
    grid-template-columns: auto 1fr;
  }
}
