.badge {
  --border-radius-sm: 6px;
  background-color: var(--color-border);
  padding: 0.5px 5px;
  color: #fff;
  font-size: 0.7rem;
  border-radius: var(--border-radius-sm);
}

.badge.warning {
  background-color: var(--color-danger);
}

.badge.wide {
  color: var(--color-body-light);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
