.sidebar {
  --sidebar-padding-y: 1rem;
  --sidebar-padding-x: 0;
  border-right: 1px solid var(--color-border);
  min-height: 100vh;
  padding: var(--sidebar-padding-y) var(--sidebar-padding-x);
}

.sidebar .logo {
  --sidebar-padding-x: 1.7rem;
  max-width: 10rem;
  padding: 0 var(--sidebar-padding-x);
  margin: 0 auto 1rem;
}

.sidebar .logo.icon-only {
  max-width: 1.6rem;
  margin: 0 auto 1rem;
  padding: 0;
  display: none;
}

.sidebar .nav .item {
  --sidebar-padding-x: 1.7rem;
  padding: var(--sidebar-padding-y) var(--sidebar-padding-x);
  display: flex;
  align-items: center;
  position: relative;
  color: var(--color-body-light);
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
  gap: 1rem;
}

.sidebar .nav .item.active::before {
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  width: 4px;
  left: 0px;
  height: 100%;
  border-radius: 0px 6px 6px 0px;
}

.sidebar .nav .item:hover,
.sidebar .nav .item.active {
  background-color: var(--color-bg);
}

.sidebar .nav .item.active {
  background-color: var(--color-bg);
}

.sidebar .nav .item .link-txt {
  margin-right: auto;
  color: var(--color-heading);
}

.sidebar .nav .item .submenu-indicator {
  font-size: 1.2rem;
}

.app.collapsed .sidebar {
  --sidebar-padding-x: 0.6rem;
}

.app.collapsed .sidebar .logo.icon-only {
  display: block;
}

.app.collapsed .sidebar .nav .item {
  border-radius: var(--border-radius);
  padding: 0.8rem;
}

.app.collapsed .sidebar .nav .item.active {
  background-color: var(--color-primary);
  color: #fff;
}

.app.collapsed .sidebar .logo,
.app.collapsed .sidebar .link-txt,
.app.collapsed .sidebar .submenu-indicator,
.app.collapsed .sidebar .badge,
.app.collapsed .sidebar .nav .item.active::before {
  display: none;
}

@media (max-width: 992px) {
  .sidebar {
    --sidebar-padding-x: 0.6rem;
  }

  .sidebar .logo.icon-only {
    display: block;
  }

  .sidebar .nav .item {
    border-radius: var(--border-radius);
    padding: 0.8rem;
  }

  .sidebar .nav .item.active {
    background-color: var(--color-primary);
    color: #fff;
  }

  .sidebar .logo,
  .sidebar .link-txt,
  .sidebar .submenu-indicator,
  .sidebar .badge,
  .sidebar .nav .item.active::before {
    display: none;
  }
}
