.board {
  background-color: var(--color-bg);
  overflow: hidden;
}

.board .page-view {
  display: flex;
  border-bottom: 1px solid var(--color-border);
  align-items: center;
}

.board .page-view .btn {
  color: var(--color-body-light);
}

.board .page-view .btn.active {
  color: var(--color-primary);
}

/* ----breakpoint-sm---- */
@media (max-width: 786px) {
  .board .page-header .heading {
    font-size: 1.6rem;
  }
}
